@import "tailwindcss";

@theme {
    --font-display: "Lato", sans-serif;

    --breakpoint-xs: 540px;
    --breakpoint-2xs: 440px;
    --breakpoint-3xs: 350px;

    --color-black-100: #111111;
    --color-black-200: #222222;
    --color-black-300: #171719;
    --color-black-400: #0a0a0c;

    --color-gray-100: #767676;
    --color-gray-200: #848484;
    --color-gray-300: #9f9da2;
    --color-gray-400: #b0b0b0;
    --color-gray-500: #2c2c2e;
    --color-gray-600: #4a4a4d;

    --color-white-100: #e6e6e6;
    --color-white-200: #fffcf2;
    --color-white-300: #f4f4f9;
    --color-white-400: #ccc5b9;

    --color-teal-100: #14b8a6;
    --color-teal-200: #0d9488;
    --color-teal-300: #06b6d4;
    --color-teal-400: #0891b2;
    --color-cyan-100: #22d3ee;
    --color-cyan-200: #06b6d4;

    --color-red-100: #ef4444;
    --color-red-200: #4D3232;
    --color-red-300: #ef4444;

    --color-blue-100: #3b82f6;
    --color-blue-200: #22454B;
    --color-blue-300: #3b82f6;

    --color-yellow-100: #eab308;
    --color-yellow-200: #4D441F;
    --color-yellow-300: #eab308;

    --color-green-100: #22c55e;
    --color-green-200: #244541;
    --color-green-300: #22c55e;

    --color-purple-100: #a855f7;
    --color-pink-100: #ec4899;
    --color-orange-100: #f97316;
    --color-indigo-100: #6366f1;

}
